$footer: (
  focus: $secondary,
);

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $gray-100;
  section {
    width: 65.625rem;
  }
  .footer__infos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem 0rem 2.5rem;
  }
  // 고객행복정보
  .footer__customer {
    .customer__header {
      .header__title {
        @include heading-lg;
        padding-bottom: 1rem;
        color: $content;
      }
      .header__desc {
        @include paragraph-md;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        padding-bottom: 1rem;

        a {
          @include heading-xxl;
          text-decoration: none;
          color: $content;
          border-radius: 0.125rem;
          &:focus {
            outline: 0.125rem solid map-get($button, focus);
          }
        }

        span {
          @include label-md;
          color: $content;
        }
      }
    }
    .customer__menu {
      display: flex;
      flex-flow: column nowrap;
      padding-bottom: 1rem;
      li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        button {
          width: 8.75rem;
        }
        div {
          @include paragraph-md;
          flex: 1;
          p {
            @include paragraph-md;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            color: $content;
          }
          .divide {
            width: 0.0625rem;
            height: 0.75rem;
            margin: 0rem 0.25rem;
            background-color: $content;
          }
        }
      }
    }
    .customer__non_member {
      li {
        @include paragraph-sm;
        color: $content;
        a {
          color: $primary;
          text-decoration: none;
          border-radius: 0.125rem;
          &:focus {
            outline: 0.125rem solid map-get($button, focus);
          }
        }
      }
    }
  }
  // 마켓칼리 정보
  .footer__about {
    .about__body {
      display: flex;
      flex-flow: column nowrap;
      gap: 1.75rem;
      &-karly {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.75rem;
        li {
          a {
            @include paragraph-md;
            color: $content;
            text-decoration: none;
            border-radius: 0.125rem;
            &:focus {
              outline: 0.125rem solid map-get($button, focus);
            }
          }
        }
      }
      &-details {
        p {
          @include paragraph-sm;
          color: $content;
        }
      }
      &-sns {
        display: flex;
        flex-flow: row nowrap;
        gap: 1.25rem;
        li {
          a {
            display: block;
            width: 1.875rem;
            height: 1.875rem;
            overflow: hidden;
            border-radius: 50%;
            text-indent: -9999px;
            background-image: url('/icons/img_sprite.png');
            &:focus {
              outline: 0.125rem solid map-get($button, focus);
            }
            &.sns-blog {
              background-position: 0rem -5rem;
            }
            &.sns-facebook {
              background-position: -1.9375rem -5rem;
            }
            &.sns-instagram {
              background-position: -3.875rem -5rem;
            }
            &.sns-post {
              background-position: -5.8125rem -5rem;
            }
            &.sns-youtube {
              background-position: -7.75rem -5rem;
            }
          }
        }
      }
    }
  }
  // 인증 및 보안 정보
  .footer__certification {
    .certification__body {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 2rem;
      li {
        flex: 1 0 0;
        button {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 0.5rem;
          height: 100%;
          padding: 0.25rem;
          border-radius: 0.125rem;
          &:focus {
            outline: 0.125rem solid map-get($button, focus);
          }
          p {
            font-size: 0.625rem;
            line-height: 140%;
            font-family: $font-family;
            text-align: left;
            color: $content;
          }
          span {
            min-width: 2.125rem;
            height: 2.125rem;
            background-image: url('/icons/img_sprite.png');
          }
          &.button-isms {
            span {
              background-position: 0rem -7.5rem;
            }
          }
          &.button-privacy {
            span {
              background-position: -2.25rem -7.5rem;
            }
          }
          &.button-toss {
            span {
              min-width: 6.8125rem;
              height: 2rem;
              background-position: -4.375rem -7.5rem;
            }
          }
          &.button-woori {
            span {
              background-position: -11.25rem -7.5rem;
            }
          }
        }
      }
    }
  }
  // 면책 조항
  .footer__disclaimer {
    width: 100%;
    padding: 1.25rem 0rem 2rem;
    background-color: $gray-50;
    .disclaimer__body {
      @include paragraph-sm;
      color: $gray-400;
      text-align: center;
      .copyright {
        padding-top: 0.5rem;
      }
    }
  }
}
