$header: (
  bg-color: $white,
  nav-text: $content,
  border: $gray-200,
  info-border: $gray-300,
  info-text: $gray-500,
  primary: $primary,
  focus: $secondary
);

.header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: auto;
  border-bottom: 0.0625rem solid map-get($header, border);
  background-color: map-get($header, bg-color);
  
  .header__main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 65.625rem;
    margin: auto;
    .logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      ul{
        
        display: flex;
        align-items: center;


        li {


          &:first-child a{

            color: $primary;
          }

          .divide {
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: 8px;
            background-color: $gray-200;


          }
      }
        a {

          // background-color: orange;
          display: flex;
          align-items: center;
          @include label-lg;
          color: $gray-400;
          border-radius: 0.125rem;
          text-decoration: none;


          &:focus {
            outline: 0.125rem solid map-get($header, focus);
          }
  
          &:hover, &.is-active {
            color: map-get($header, primary);
          }

          img{

          margin-right: 16px;
          }

        }
        
      }
    }
    .search__field {
      max-width: 25rem;
    }
    .button__set {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.25rem;
      a {
        text-decoration: none;
      }
    }
  }
  .button__set{

    a{


    &:hover{

      .icon{

        color: $primary;
      }
    }

    }


  }
  .header__utils {
    order: -1;
    display: flex;
    justify-content: flex-end;
    width: 65.625rem;
    margin: 1rem auto 1rem;
  }
  .header__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 65.625rem;
    height: 4.5rem;
    margin: auto;
    .nav__category {
      position: relative;
      &:hover {
        .category__menu {
          display: flex;
        }
      }
      .category__button {
        @include label-md;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.75rem;
        height: 3rem;
        padding-right: 0.5rem;
        border-radius: 0.125rem;
        transition: all 0.3 ease-in-out;
        .icon {
          font-size: 2.25rem;
        }
        &:focus-within {
          outline: 0.125rem solid map-get($header, focus);
        }
        &.is-active {
          color: $primary;
          .icon {
            color: $primary;
          }
        }
      }
      .category__menu {
        z-index: 10;
        position: absolute;
        display: none;
        flex-flow: column nowrap;
        width: 200px;
        overflow: hidden;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        background-color: map-get($header, bg-color);
        box-shadow: 0 0.25rem 0.25rem rgba($color: #000000, $alpha: 0.15);
        li {
          a {
            @include label-md;
            display: flex;
            align-items: center;
            display: block;
            padding: 1rem 0rem 1rem 1.5rem;
            color: map-get($header, nav-text);
            text-decoration: none;
            &:hover {
              color: map-get($header, primary);
              background-color: $gray-50;
            }

            

            img{
                      
                      height: 1.5rem;
                      width: 1.5rem;
                      margin-right: 8px;
                      margin-bottom: -4px;
            }
          }
        }
      }
    }
    .nav__menu {
      flex: 1;
      height: inherit;
      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: inherit;
        li {
          flex-basis: 9.375rem;
          display: flex;
          align-items: center;
          a {
            @include label-md;
            display: block;
            width: 100%;
            padding: 0.75rem 0;
            color: map-get($header, nav-text);
            text-align: center;
            text-decoration: none;
            border-radius: 0.125rem;
            &:focus {
              outline: 0.125rem solid map-get($header, focus);
            }



            span{

            &:hover{


              padding-bottom: 0.0625rem;
              margin-bottom: -0.125rem;
              border-bottom: 1px solid $primary;
              color: $primary;
            }


            }

          }
        }
      }
    }
    .nav__info {
      height: 1.6875rem;
      padding: 0.25rem 0.5rem;
      color: map-get($header, info-text);
      border-radius: 1.6875rem;
      border: 0.0625rem solid map-get($header, info-border);
      b {
        color: map-get($header, primary);
      }
      &:focus {
        outline: 0.125rem solid map-get($header, focus);
      }
    }
  }
}
