$header: (
  bg-color: $white,
  nav-text: $content,
  border: $gray-200,
  info-border: $gray-300,
  info-text: $gray-500,
  primary: $primary,
  focus: $secondary,
);

.header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: auto;
  border-bottom: 0.0625rem solid map-get($header, border);
  background-color: map-get($header, bg-color);

  .header__main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 65.625rem;
    margin: auto;
    .logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      a {
        @include label-lg;
        display: flex;
        align-items: center;
        height: 42px;
        color: $gray-400;
        border-radius: 0.125rem;
        text-decoration: none;
        &:focus {
          outline: 0.125rem solid map-get($header, focus);
        }
        &:hover,
        &.is-active {
          color: map-get($header, primary);
        }
        &.karly-market {
          padding-left: 5.875rem;
          background-position: 0rem 0rem;
          background-image: url('/icons/img_sprite.png');
        }
      }
      .divide {
        width: 1px;
        height: 14px;
        margin: 8px;
        background-color: $gray-200;
      }
    }
    .search__field {
      max-width: 25rem;
    }
    .button__set {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.25rem;
      a {
        text-decoration: none;
      }
    }
  }
  .button__set {
    a {
      &:hover {
        .icon {
          color: $primary;
        }
      }
      &.button--cart {
        position: relative;
        .bubble {
          position: absolute;
          top: 54px;
          right: -28px;
          z-index: 100;
        }
      }
    }
  }
  .header__utils {
    order: -1;
    display: flex;
    justify-content: flex-end;
    width: 65.625rem;
    margin: 1rem auto 1rem;

    .login-on {
      position: relative;
      p {
        @include paragraph-sm;
        padding: 0 0.5rem;
        color: $content;
        span.username {
          font-weight: bold;
        }
      }
      &:hover {
        .user__option {
          display: flex;
        }
      }
    }

    .user__option {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      flex-flow: column nowrap;
      padding: 4px 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: $white;
      box-shadow: 0 0.25rem 0.25rem rgba($color: #000000, $alpha: 0.15);
      button {
        @include paragraph-sm;
        padding: 4px 16px;
        white-space: nowrap;
        color: $content;
        cursor: pointer;
        &:hover,
        &:focus {
          background-color: $gray-50;
        }
      }
    }
  }
  .header__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 65.625rem;
    height: 4.5rem;
    margin: auto;
    .nav__category {
      position: relative;
      display: flex;
      align-items: center;
      height: inherit;
      &:hover,
      &:focus {
        .category__menu {
          display: flex;
        }
        .category__button {
          color: $primary;
          .icon {
            color: $primary;
          }
        }
      }
      .category__button {
        @include label-md;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.75rem;
        height: 50px;
        padding-right: 0.5rem;
        border-radius: 0.125rem;
        transition: all 0.3 ease-in-out;
        .icon {
          font-size: 2.25rem;
        }
        &:focus-within {
          outline: 0.125rem solid map-get($header, focus);
          color: $primary;
          .icon {
            color: $primary;
          }
        }
      }
      .category__menu {
        z-index: 10;
        position: absolute;
        top: 4.5rem;
        display: none;
        flex-flow: column nowrap;
        width: 200px;
        overflow: hidden;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        background-color: map-get($header, bg-color);
        box-shadow: 0 0.25rem 0.25rem rgba($color: #000000, $alpha: 0.15);
        &.is--active {
          display: flex;
        }
        li {
          padding: 3px;
          a {
            @include label-md;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 0rem 1rem 1.5rem;
            color: map-get($header, nav-text);
            text-decoration: none;
            border-radius: 2px;
            &:hover {
              color: map-get($header, primary);
              background-color: $gray-50;
            }
            &:focus-within {
              outline: 0.125rem solid map-get($header, focus);
            }
            span {
              display: flex;
              width: 1.5rem;
              height: 1.5rem;
              background-image: url('/icons/img_sprite.png');
              &.menu-food {
                background-position: 0rem -3.125rem;
              }
              &.menu-necessity {
                background-position: -1.625rem -3.125rem;
              }
              &.menu-personalcare {
                background-position: -3.1875rem -3.125rem;
              }
              &.menu-animal {
                background-position: -4.75rem -3.125rem;
              }
            }
          }
        }
      }
    }
    .nav__menu {
      flex: 1;
      height: inherit;
      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: inherit;
        li {
          flex-basis: 9.375rem;
          display: flex;
          align-items: center;
          a {
            @include label-md;
            display: block;
            width: 100%;
            padding: 0.75rem 0;
            color: map-get($header, nav-text);
            text-align: center;
            text-decoration: none;
            border-radius: 0.125rem;
            &:focus {
              outline: 0.125rem solid map-get($header, focus);
            }
            &:hover {
              span {
                padding-bottom: 0.1875rem;
                border-bottom: 0.0625rem solid map-get($header, primary);
                color: map-get($header, primary);
              }
            }
          }
        }
      }
    }
    .nav__info {
      height: 1.6875rem;
      padding: 0.25rem 0.5rem;
      color: map-get($header, info-text);
      border-radius: 1.6875rem;
      border: 0.0625rem solid map-get($header, info-border);
      b {
        color: map-get($header, primary);
      }
      &:focus {
        outline: 0.125rem solid map-get($header, focus);
      }
    }
  }

  &.is--scrolled {
    z-index: 22;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 4.5rem;

    .header {
      &__main {
        order: 1;
        width: auto;
        margin: 0;
        .logo {
          display: none;
        }
        .search__field {
          height: 2.25rem;
          .input--search{
            @include paragraph-sm;
            &::placeholder {
              @include paragraph-sm;
            }
          }
        }

      }
      &__nav {
        order: 0;
        flex-basis: 43.75rem;
        width: auto;
        margin: 0;
        .nav__info {
          display: none;
        }
        .nav__menu {
          white-space: nowrap;
          li a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            height: 3.125rem;
            padding: 0 1rem;
            &:hover {
              span {
                padding-bottom: 0;
              }
            }
          }
          
        }
      }

      &__utils {
        display: none;
      }
      &__main {
        .button__set {
          a {
            &.button--cart {
              .bubble {
                top: 44px;
                right: -34px;
              }
            }
          }
        }
      }
    }
  }
}