$header: (
  bg-color: $white,
  nav-text: $content,
  info-border: $gray-300,
  info-text: $gray-500,
  primary: $primary
);

.header {
  display: flex;
  flex-flow: column nowrap;
  max-width: 65.625rem;
  margin: auto;
  background-color: map-get($header, bg-color);

  .header__main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    .search__field {
      max-width: 25rem;
    }
    .button__set {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.25rem;
    }
  }
  .header__utils {
    order: -1;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 1rem;
  }
  .header__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 4.5rem;
    .nav__category {
      button {
        @include label-md;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.75rem;
        height: 3rem;
        padding-right: 0.5rem;
        transition: all 0.3 ease-in-out;
        .icon {
          font-size: 2.25rem;
        }
      }
      .category__menu {
        display: none;
        // display: flex;
        flex-flow: column nowrap;
        width: 100%;
        overflow: hidden;
        li {
          a {
            @include label-md;
            display: block;
            padding: 0.5rem 0rem 0.5rem 0.75rem;
            color: map-get($header, nav-text);
            text-decoration: none;
          }
        }
      }
    }
    .nav__menu {
      flex: 1;
      height: inherit;
      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: inherit;
        li {
          flex-basis: 9.375rem;
          display: flex;
          align-items: center;
          a {
            @include label-md;
            display: block;
            width: 100%;
            padding: 0.75rem 0;
            color: map-get($header, nav-text);
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
    .nav__info {
      height: 1.6875rem;
      padding: 0.25rem 0.5rem;
      color: map-get($header, info-text);
      border-radius: 1.6875rem;
      border: 0.0625rem solid map-get($header, info-border);
      b {
        color: map-get($header, primary);
      }
    }
  }
}
