$accordion: (
  title-text: $content,
  reset-text: $gray-300,
  head-text: $content,
  body-text: $content,
  more-text: $gray-300,
  count: $gray-300,
  line-bottom: $gray-100,
  icon: $gray-300,
  focus: $secondary,
);

.accordion {
  width: 13.75rem;
  position: sticky;
  top: 2rem;

  &__title{
    border-bottom: 1px solid map-get($accordion, line-bottom);
    width: 100%;
    height: 2.75rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
    padding-bottom: 0.5rem;

    &--content{
      @include label-md;
      color: map-get($accordion, title-text);
    }

    &--button-reset{
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 0.125rem 0.25rem 0.125rem 0.125rem;
      border-radius: 0.125rem;

      .icon{
        font-size: 1.25rem;
        font-weight: 400;
        color: map-get($accordion, icon);
      }
      .title{
        @include label-sm;
        color: map-get($accordion, reset-text);
      }
      &:focus{
        outline: 0.125rem solid map-get($button, focus);
      }
    }
  }
  &__head {
    border-bottom: 1px solid map-get($accordion, line-bottom);
    
    &--item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 3.25rem;
      padding-inline: 0.5rem;
      border-radius: 2px;
      // background-color: red;

      &:focus{
        outline: 0.125rem solid map-get($button, focus);
      }
      
      .icon--arrow--bottom {
        font-size: 1.125rem;
        font-weight: 400;
        color: map-get($accordion, icon);
        transition: transform 250ms ease-in-out;
        
        &.active {
          transform: rotate(-180deg);
        }
      }
    }
    &--content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &-title {
        @include label-md;
        color: map-get($accordion, head-text);
      }
      &-count {
        color: map-get($accordion, count);
        font-size: 0.625rem;
        line-height: 160%;
        margin-left: 0.5rem;
      }
    }
  }

  &__body {
    display: none;
    
    &.active{
      display: block;
      height: auto;
      overflow: hidden;
    }
    
    &--item {
      height: 3.12rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .checkbox__wrap{
        margin-left: 0.2rem;
        
        .checkbox__content {
          display: inline-block;
          
          &-title {
            @include paragraph-md;
            color: map-get($accordion, body-text);
          }
          &-count {
            @include paragraph-sm;
            color: map-get($accordion, count);
          }
        }
      }
      .radio__wrap{
        margin-left: 0.2rem;
        
        .radio__content {
          display: inline-block;
          
          &-title{
            @include paragraph-md;
            color: map-get($accordion, body-text);
          }
          &-count{
            @include paragraph-sm;
            color: map-get($accordion, count);
          }
        }
      }
    }
    &--more {
      width: 100%;
      height: 1.87rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.75rem;

      &-title {
        @include label-sm;
        color: map-get($accordion, more-text);
      }
      .icon {
        font-size: 1.125rem;
        color: map-get($accordion, arrow-icon);
      }
      &:focus{
        border: 0.125rem solid map-get($accordion, focus);
        outline: 0;
      }
    }
  }
}