$bubble: (
  border-gray : $gray-200,
  bg-white: $white,
  text-gray: $gray-300,
  text-black: $content
);
$tooltip-size: 1rem;

.bubble{
  width: 15.87rem;
  height: 6.25rem;
  padding: 1.25rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color:  map-get($bubble, bg-white);
  border: 0.0625rem solid map-get($bubble, border-gray);
  position: relative; 
  display: none;

  &::before, &::after{
    position: absolute;
    top: -#{$tooltip-size * 2};
    right: 1.75rem;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-top: $tooltip-size solid transparent;
    border-right: 0.625rem solid transparent;
    border-bottom: $tooltip-size solid $white;
    border-left: 0.625rem solid transparent;
    content: '';
  }
  &::before{
    border-bottom-color: map-get($bubble, border-gray);
  }
  &::after{
    border-bottom-color: map-get($bubble, bg-white);
    top: -#{$tooltip-size * 2 - 0.125rem};
  }

  &__img{
    width: 2.88rem;
    height: 100%;
    margin-right: 1.5rem;
  }

  &__text--wrapper{
    display: flex;
    flex-flow: column;
    justify-content: start;
    gap: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .bubble__product{
      @include label-sm;
      color: map-get($bubble, text-gray);
      overflow: hidden; // 이 부분이 중요합니다.
      white-space: nowrap; // 이 부분이 중요합니다.
      text-overflow: ellipsis; // 이 부분이 중요합니다.
    }
    p{
      @include paragraph-sm;
      color: map-get($bubble, text-black);
    }
  }

  &.is--active {
    display: inline-flex;
  }
}