// button
$button: (
  focus: $secondary,
  text-default: $content,
  text-white: $white,
  text-primary: $primary,
  bg-default: $white,
  bg-primary: $primary,
  bd-primary: $primary,
  bd-gray-100: $gray-100,
  bd-gray-200: $gray-200,
  bd-gray-300: $gray-300,
);
$button-size: (
  // 32px
  xs: 2rem,
  // 40px
  sm: 2.5rem,
  // 44px
  md: 2.75rem,
  // 54px
  lg: 3.375rem,
  // 36px
  ratio-sm: 2.25rem,
  // 52px
  ratio-md: 3.25rem,
  // 56px
  ratio-lg: 3.5rem
);

.button {
  @include label-md;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding-inline: 1rem;
  color: map-get($button, text-default);
  white-space: nowrap;
  border-radius: 0.25rem;
  border: 0.0625rem solid map-get($button, bd-gray-200);
  background-color: map-get($button, bg-default);
  .icon {
    font-size: 2rem;
  }
  &:focus {
    outline: 0.125rem solid map-get($button, focus);
  }
  &:disabled {
    opacity: 0.5;
  }

  &--xs {
    @include paragraph-md;
    height: map-get($button-size, xs);
    .icon {
      font-size: 1.5rem;
    }
  }
  &--sm {
    @include paragraph-md;
    height: map-get($button-size, sm);
    .icon {
      font-size: 1.5rem;
    }
  }
  &--md {
    @include label-md;
    height: map-get($button-size, md);
  }
  &--lg {
    @include label-md;
    height: map-get($button-size, lg);
  }
  &--full {
    width: 100%;
  }
  &--outlined {
    color: map-get($button, text-primary);
    border-color: map-get($button, bd-primary);
    &:disabled {
      opacity: 0.5;
    }
    .icon {
      color: map-get($button, text-primary);
    }
  }
  &--filled {
    color: map-get($button, text-white);
    border-color: map-get($button, bd-primary);
    background-color: map-get($button, bg-primary);
    .icon {
      color: map-get($button, text-white);
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &--sharp {
    border-radius: 0rem;
  }
  &--rounded {
    border-radius: 50%;
  }
  &--shadow {
    box-shadow: 0 0 0.25rem rgba($color: #000000, $alpha: 0.15);
    background-color: map-get($button, bg-default);
  }
  &--opacity {
    border: 0rem;
    background-color: rgba($color: #000000, $alpha: 0.2);
    .icon {
      color: map-get($button, text-white);
    }
  }

  // 아이콘 버튼
  &--ratio {
    aspect-ratio: 1;
    padding-inline: 0;
    border: 0rem;
    &:disabled {
      .icon {
        opacity: 0.5;
      }
    }
    &--sm {
      height: map-get($button-size, ratio-sm);
    }
    &--md {
      height: map-get($button-size, ratio-md);
    }
    &--lg {
      height: map-get($button-size, ratio-lg);
    }
    &.button {
      &--outlined {
        border: 1px solid map-get($button, bd-gray-100);
      }
    }
  }
}

$list_link: (
  text-default: $content,
  focus: $secondary,
  line: $gray-200,
);

.list__link {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  li {
    display: flex;
    align-items: center;
    a {
      @include paragraph-sm;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.25rem;
      padding: 0 0.5rem;
      color: map-get($list_link, text-default);
      text-decoration: none;
      border-radius: 0.125rem;
      -webkit-text-stroke: 0.0625rem;
      -webkit-text-stroke: 0.0625rem rgba(0, 0, 0, 0.1);
      .icon {
        font-size: 0.6875rem;
      }
      &:focus {
        outline: 2px solid map-get($list_link, focus);
      }
    }
    hr {
      width: 0.0625rem;
      height: 0.875rem;
      margin: 0;
      border: 0;
      background: map-get($list_link, line);
    }
  }
}

$list_button: (
  text-default: $gray-300,
  text-hover: $gray-600,
  text-active: $content,
  focus: $secondary,
  line: $gray-200,
);
.list__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
  li {
    button {
      @include label-md;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding-inline: 0.375rem;
      color: map-get($list_button, text-default);
      border: 0;
      border-radius: 0.125rem;
      background-color: transparent;
      &:focus {
        outline: 2px solid map-get($list_button, focus);
      }
      &.is--active {
        color: map-get($list_button, text-active);
      }
      &:hover {
        color: map-get($list_button, text-hover);
        .popup {
          display: block;
        }
      }
      .icon {
        font-size: 1.5rem;
        color: map-get($list_button, text-default);
      }
      .popup {
        @include paragraph-sm;
        z-index: 100;
        position: absolute;
        top: 1.75rem;
        right: 0.5rem;
        // transform: translate(-20%, 10%);
        display: none;
        width: 13rem;
        padding: 0.5rem;
        word-break: keep-all;
        white-space: inherit;
        text-align: left;
        color: map-get($button, text-default);
        border: 0.0625rem solid map-get($button, bd-gray-200);
        border-radius: 0.25rem;
        background-color: map-get($button, text-white);
      }
    }
    hr {
      width: 0.0625rem;
      height: 0.625rem;
      margin: 0;
      border: 0;
      background: map-get($list_button, line);
    }
  }
}

.counter__container {
  align-items: center;
  border: 1px solid map-get($button, bd-gray-200);
  display: flex;
  height: 1.875rem;
  justify-content: space-between;
  width: 5.25rem;
  
  &:focus {
    outline: 1px solid map-get($button, focus);
  }
  
  button {
    align-items: center;
    display: flex;
    height: 1.875rem;
    justify-content: center;
    width: 1.875rem;
    border-radius: 2px;

    span {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }

    &:focus {
      outline: 0.125rem solid map-get($button, focus);
    }
    &:disabled span {
      color: map-get($button, bd-gray-300);
    }
  }
}
