$checkbox: (
  focus: $secondary,
  text-balck: $content,
);
// checkbox
.checkbox__wrap {
  position: relative;
}

.checkbox {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  appearance: none;
  border-radius: 1.5rem;
  cursor: pointer;
  &:focus {
    outline: 2px solid map-get($checkbox, focus);
  }
  &:checked {
    & + .checkbox__label .checkbox__label--icon {
      background: url(/src/assets/icons/icon-checkbox-checked.svg) no-repeat 0 0 /
        100%;
    }
  }
}

.checkbox__label {
  @include paragraph-md;
  display: flex;
  flex-flow: row nowrap;
  color: map-get($checkbox, text-black);
  cursor: pointer;
  &--icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background: url(/src/assets/icons/icon-checkbox-default.svg) no-repeat 0 0 /
      100%;
  }
}
