.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18.75rem;
  background-color: $white;
  border: 1px solid $gray-100;
  border-radius: 0.25rem;
  overflow: hidden;
  z-index: 100;

  &__title {
    @include heading-lg;
    padding-top: 2.5rem;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid $gray-100;
    color: $content;
    padding: 2rem 1.875rem;
    text-align: center;
    width: 100%;

    p {
      line-height: 140%;
    }
  }

  &__foot {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    button {
      @include label-md;
      flex: 1;
      white-space: nowrap;
      color: $gray-500;
      &:hover {
        background-color: $gray-50;
      }
    }
  }

  .button--confirm {
    @include label-md;
    color: $primary;
    width: 100%;
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .button--confirm {
      @include label-md;
      color: $primary;
      width: 50%;
    }
    .button--cancel {
      @include label-md;
      color: $gray-300;
      width: 50%;
    }
  }

  &__address__content {
    padding-bottom: 2rem;
  }

  &.is--center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    &.is--open {
      display: flex;
    }
  }
}
