#move-top-button {
  z-index: 20;
  position: fixed;
  bottom: -3.625rem;
  right: 1.9375rem;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition:
    opacity 0.5s ease 0s,
    bottom 0.5s ease 0s;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    img {
      width: 100%;
      height: 100%;
      transition: filter 0.2s ease 0s;
    }
    &:hover img {
      filter: brightness(0.85);
    }
  }

  &.show {
    bottom: 0.9375rem;
    opacity: 1;
  }

  &.hide {
    bottom: -3.625rem;
    opacity: 0;
  }
}
