$pagination: (
  border-gray: $gray-100,
  text-black: $content,
  bg-gray: $gray-200,
);

.pagination{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  li:last-child{
    border-right: 0.0625rem solid map-get($pagination, border-gray);
  }
  a{
    width: 2.125rem;
    height: 2.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: map-get($pagination, text-black);
    font-size: 0.75rem;
    font-weight: 400;
    border: 0.0625rem solid map-get($pagination, border-gray);
    border-right: 0;
    
    span{
      font-size: 0.75rem;
      font-weight: 800;
    }
  }
}