$product-tab: (
  border-default: 1px solid $gray-300,
  border-default-focus: 3px solid $gray-300,
  border-active: 1px solid $gray-100,
  border-active-focus: 3px solid $gray-100,
  text-color-default: $content,
  text-color-active: $primary,
  bg-color-default: $gray-50,
  bg-color-active: $white,
);

.product__tab {
  &__list {
    align-items: center;
    display: flex;
  }

  &__item {
    margin-left: -1px;
    min-width: calc(100% / 4);
    width: 100%;

    button {
      @include label-md;
      align-items: center;
      background-color: map-get($product-tab, bg-color-default);
      border: map-get($product-tab, border-default);
      color: map-get($product-tab, text-color-default);
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 100%;

      strong {
        @include paragraph-sm;
        margin-left: 0.5rem;
      }

      &:focus {
        border: map-get($product-tab, border-default-focus);
      }
    }

    &.is--active button {
      background-color: map-get($product-tab, bg-color-active);
      border: map-get($product-tab, border-active);
      border-bottom-color: #fff;
      color: map-get($product-tab, text-color-active);
      outline: 0;

      &:focus {
        border: map-get($product-tab, border-active-focus);
      }
    }
  }
}
