$product-tab: (
  border-default: 1px solid $gray-300,
  border-default-focus: 3px solid $gray-300,
  border-active: 1px solid $gray-100,
  border-active-focus: 3px solid $gray-100,
  text-color-default: $content,
  text-color-active: $primary,
  bg-color-default: $gray-50,
  bg-color-active: $white,
  focus: $secondary
);

.product__tab {
  &__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__item {
    flex: 1;
    border: map-get($product-tab, border-default);
    border-right: 0;
    &:nth-last-child(1) {
      border-right: map-get($product-tab, border-default);
    }
    &.is--active {
      border-bottom-color: #fff;
    }

    button {
      @include label-md;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: map-get($product-tab, text-color-default);
      background-color: map-get($product-tab, bg-color-default);
      cursor: pointer;
      strong {
        @include paragraph-sm;
        margin-left: 0.5rem;
      }

      &:focus {
        outline-offset: -2px;
        outline: 2px solid map-get($product-tab, focus);
      }
    }

    &.is--active button {
      color: map-get($product-tab, text-color-active);
      border: map-get($product-tab, border-active);
      border-bottom-color: #fff;
      background-color: map-get($product-tab, bg-color-active);
      
      &:focus {
        outline: 2px solid map-get($product-tab, focus);
      }
    }
  }
}
