$product__info: (
  delivery-lg: $gray-500,
  delivery-sm: $gray-400,
  title-lg: $content,
  title-sm: $content,
  desc-lg: $gray-400,
  desc-sm: $gray-400,
  price-lg: $content,
  price-sm: $content,
  discount-original-price-sm: $gray-400,
  discount-original-price-lg: $gray-400,
  discount-rate-sm: $accent,
  discount-rate-lg: $accent,
  discount-price-sm: $content,
  discount-price-lg: $content,
);

.product__info {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  &--sm {
    &-delivery {
      @include label-sm;
      color: map-get($product__info, delivery-sm);
      margin-bottom: 0.5rem;
    }
    &-title {
      @include paragraph-md;
      color: map-get($product__info, title-sm);
      margin-bottom: 0.25rem;
    }
    &-desc {
      @include paragraph-sm;
      color: map-get($product__info, desc-sm);
      margin-bottom: 0.5rem;
    }
    &-price {
      @include label-lg;
      color: map-get($product__info, price-sm);

      &.discount {
        @include paragraph-sm;
        color: map-get($product__info, discount-original-price-sm);
        text-decoration: line-through;
        order: 1;
      }
    }
    &-discount {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      &-rate {
        @include label-lg;
        color: map-get($product__info, discount-rate-sm);
      }
      &-price {
        @include label-lg;
        color: map-get($product__info, discount-price-sm);
      }
    }
  }

  &--lg {
    &-delivery {
      @include heading-lg;
      color: map-get($product__info, delivery-lg);
      margin-bottom: 1rem;
    }
    &-title {
      @include label-xl;
      color: map-get($product__info, title-lg);
      margin-bottom: 0.5rem;
    }
    &-desc {
      @include paragraph-md;
      color: map-get($product__info, desc-lg);
      margin-bottom: 1rem;
    }
    &-price {
      @include label-xl;
      color: map-get($product__info, price-lg);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      span {
        @include heading-md;
      }

      &.discount {
        @include paragraph-md;
        color: map-get($product__info, discount-original-price-lg);
        text-decoration: line-through;
        order: 1;
      }
    }
    &-discount {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      &-rate {
        @include label-xl;
        color: map-get($product__info, discount-rate-lg);
      }
      &-price {
        @include label-xl;
        color: map-get($product__info, discount-price-lg);
        display: flex;
        flex-flow: row;
        align-items: center;

        span {
          @include heading-md;
        }
      }
    }
  }
}