$product-review: (
  total-color: $content,
);

.product__review {
  .review__total {
    @include label-sm;
    align-items: center;
    color: map-get($product-review, total-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
  }

  .review--sort {
    @include label-md;
  }

  .button__group {
    padding-top: 1rem;
    justify-content: center;

    button {
      height: 56px;
      width: 56px;

      span {
        color: $primary;
      }

      &:disabled {
        span {
          color: $gray-100;
        }
      }

      &:focus {
        border: 1px solid $primary;
      }
    }
  }
}

.review__table {
  border-top: 1px solid $black;
  width: 100%;

  &__header {
    .review--notice {
      align-items: center;
      border-bottom: 1px solid $gray-100;
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      padding: 20px;

      button {
        @include label-md;
        color: $content;

        &:focus {
          outline: 1px solid $primary;
        }
      }
    }

    p {
      @include paragraph-md;
      background-color: $gray-50;
      border-bottom: 1px solid $gray-100;
      display: none;
      padding: 20px;
      white-space: pre-line;

      &.is-open {
        // review--notice를 클릭하면 다음에 있는 p에 is-open을 넣어주는 기능 추가
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &.review--null {
      align-items: center;
      border-bottom: 1px solid $gray-100;
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 20px;

      span.icon {
        font-size: 3rem;
        color: #e2e2e2;
      }

      p {
        @include label-lg;
        color: $gray-400;
      }
    }
  }

  .review__card {
    align-items: flex-start;
    border-bottom: 1px solid $gray-100;
    display: flex;
    gap: 5.125rem;
    justify-content: flex-start;
    padding: 20px;

    .user__info {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      gap: 8px;
    }

    &__content {
      article {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
      }

      h2 {
        @include label-sm;
        color: $gray-400;
      }

      p {
        @include paragraph-sm;
        color: $black;
        white-space: pre-line;
      }

      time {
        @include label-sm;
        color: $gray-400;
      }

      .button--group {
        display: flex;
        gap: 4px;

        button {
          display: block;
          height: 93px;
          width: 93px;
          border-radius: 6px;
          overflow: hidden;

          &:focus {
            border: 1px solid $primary;
            opacity: 0.7;
          }

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
