.inquiry__table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;

  thead {
    tr {
      height: 58px;
    }

    .author,
    .created-date,
    .status {
      width: 100px;
      flex-shrink: 0;
    }
  }

  tbody {
    tr {
      &:not(.inquiry__content) {
        td:first-child {
          align-items: center;
          color: $content;
          cursor: pointer;
          display: flex;

          &:focus {
            outline: 1px solid $primary;
          }
        }

        td {
          color: $gray-400;
        }
      }

      span.badge {
        margin-right: 20px;
      }

      // &:focus {
      //   outline: 1px solid $primary;
      // }
    }

    td {
      &.answer--complete {
        color: $primary !important;
      }

      &.secret {
        color: $gray-400 !important;
      }
    }

    span.icon--lock {
      @include paragraph-xl;
      align-items: center;
      color: #b5b5b5;
      display: flex;
      height: 14px;
      justify-content: center;
      margin-left: 1.25rem;
      width: 12px;
    }
  }

  th,
  td {
    @include label-md;
    padding: 1rem 1.25rem;
    white-space: nowrap;
  }

  th {
    border-bottom: 1px solid $black;
    border-top: 2px solid $black;
    color: $black;
    text-align: center;
  }

  td {
    border-bottom: 1px solid $gray-100;
    color: $content;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  .inquiry__content {
    background-color: $gray-50;

    &__body {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      justify-content: center;
    }
  }

  .content--question,
  .content--answer {
    @include label-sm;
    color: $content;
    padding-left: 2.25rem;
    position: relative;

    span.icon {
      align-items: center;
      display: flex;
      font-size: 1.5rem;
      height: 1.5rem;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 1.5rem;
    }

    p {
      white-space: pre-line;
    }

    time {
      color: $gray-400;
      display: inline-block;
      margin-top: 12px;
    }
  }

  .content--question span {
    color: $secondary;
  }

  .content--answer span {
    color: $primary;
  }
}
