$section-header: (
  color-default: $black,
  color-content: $content,
  button-width: 9.6875rem,
  gap: 1.5rem,
);

.section__header {
  display: flex;
  flex-direction: column;
  gap: map-get($section-header, gap);
  position: relative;

  &__title {
    @include heading-xl;
    color: map-get($section-header, color-default);
  }

  &__content {
    .notice {
      @include label-md;
      color: map-get($section-header, color-content);

      &__list {
        list-style-type: disc;
        padding-left: 1.125rem;
      }

      &__item {
        @include label-sm;
        color: $gray-500;
      }
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    width: map-get($section-header, button-width);
  }
}
