$product-details: (
  width-default: 1050px,
);

.product__details {
  margin: 0 auto;
  max-width: map-get($product-details, width-default);
  padding-bottom: 6rem;
  padding-top: 2.5rem;
}

.product__details__header {
  align-items: flex-start;
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}

.product__tab {
  position: sticky;
  top: 4.5rem;
  z-index: 90;
}

.product__section {
  .section__header {
    margin-bottom: 3.5rem;
  }

  .button__group {
    padding-top: 1rem;
    justify-content: center;

    button {
      height: 3.5rem;
      width: 3.5rem;

      span {
        color: $primary;
      }

      &:disabled {
        span {
          color: $gray-100;
        }
      }

      &:focus {
        border: 0.0625rem solid $primary;
      }
    }
  }
}
