.main {
  .main__content--wrap {
    display: flex;
    justify-content: center;
  }
  &__content {
    max-width: 1050px;
    margin: 0 auto;
    transform: translateX(4.625rem);
  }
  &__visual {
    height: 23.125rem;
    .swiper {
      width: 100%;
      height: 100%;
      min-width: 1200px;
      .swiper-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .swiper-button-prev {
        margin-left: 6.25rem;
        &::after {
          display: none;
        }
      }
      .swiper-button-next {
        margin-right: 6.25rem;
        &::after {
          display: none;
        }
      }
      .button {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__products {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.75rem;
    max-width: 65.625rem;
    margin: 2.5rem auto;
    .products__title {
      @include heading-xl;
      color: $content;
    }
    .products__list {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      width: 65.625rem;
    }
  }
  &__banner {
    max-width: 65.625rem;
    overflow: hidden;
    height: 8.6875rem;
    margin: 2.5rem auto;
    border-radius: 0.25rem;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .products__list {
    position: relative;
    .product-list__swiper {
      overflow: hidden;
      width: 65.625rem;
    }
    .swiper-button {
      &-prev,
      &-next {
        position: absolute;
        top: 33%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        &::after {
          display: none;
        }
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.05);
      }
      &-prev {
        left: -30px;
        button {
          width: 100%;
          height: 100%;
          background-color: white;
          &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 14px;
            background-color: $content;
            transform: translateY(-5px) rotate(45deg);
          }
          &::after {
            content: '';
            display: inline-block;
            width: 2px;
            height: 14px;
            background-color: $content;
            transform: translateX(-1px) translateY(5px) rotate(135deg);
          }
        }
      }
      &-next {
        right: -0.8125rem;
        button {
          width: 100%;
          height: 100%;
          background-color: white;
          &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 14px;
            background-color: $content;
            transform: translateX(1px) translateY(-5px) rotate(135deg);
          }
          &::after {
            content: '';
            display: inline-block;
            width: 2px;
            height: 14px;
            background-color: $content;
            transform: translateY(5px) rotate(45deg);
          }
        }
      }
    }
  }
  // # popup ad
  .popup {
    &__ad {
      z-index: 11;
      position: absolute;
      top: 15rem;
      left: 6.25rem;

      width: 27.5rem;
      height: auto;
      box-shadow: 0px 8px 36px 0px #00000033;

      border-radius: 1rem;
      overflow: hidden;

      &__content {
        width: 100%;
      }

      &__img {
        a {
          display: inline-block;
          width: 100%;
          height: 100%;

          img {
            object-fit: contain;
          }
        }
      }
    }

    &__actions {
      display: flex;
      flex-flow: row nowrap;
      margin-top: -3px;
      button {
        @include paragraph-md;
        width: 50%;
        line-height: 5.375rem;
        background-color: white;
        &:first-child {
          position: relative;
          &::after {
            position: absolute;
            right: -0.0625rem;
            content: '';
            width: 0.0625rem;
            height: 100%;
            background-color: $gray-100;
          }
        }
      }
    }
  }
  // # 최근 본 상품
  .sidebar {
    // aside 태그
    z-index: 11;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 4.625rem;
    height: 100%;
    padding: 8px 0;
    border: 1px solid $gray-200;
    background-color: white;
    position: sticky;
    top: 193px;
    align-self: flex-start;
    max-height: calc(100vh - 300px);
    right: 1.875rem;
    margin: 193px 0;
    &__title {
      @include paragraph-sm;
      font-weight: 600;
      letter-spacing: -0.3px;
    }
    .product-list {
      // 전체 div태그
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 8px;
      &__nav--up {
        order: -1;
      }
      &__items {
        // ul 태그
        width: 2.5rem;
        height: 7.375rem;
        overflow: hidden;
      }
      &__item {
        // li태그
        width: 2.5rem;
        height: 3.1875rem;
        margin-bottom: 0.25rem;
      }
      .product-item {
        // a태그
        display: inline-block;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .sidebar--sticky {
      display: none;
    }
  }
}
// # add-cart
.modal__add-cart {
  width: 22.25rem;
  padding: 1.5rem 1.25rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 36px 0px #00000033;
  .add-cart {
    &__content > div {
      margin-bottom: 1.75rem;
    }
    &__product-info {
      .product-info__name {
        margin-bottom: 8px;
      }
      & > div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
      .product-info {
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;
        &__name,
        &__price {
          @include label-md;
        }
      }
    }
    &__quantity-form {
      display: inline-block;
      border: 1px solid $gray-200;
      .quantity-form {
        &__button {
          padding: 8px;
        }
        span {
          padding: 8px;
        }
      }
    }
    &__total-info {
      .total-info {
        &__price {
          @include label-md;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: end;
          .price {
            @include heading-xl;
            line-height: 3rem;
          }
        }
        &__benefit {
          display: flex;
          flex-flow: row nowrap;
          justify-content: right;
          gap: 8px;
        }
      }
    }
    &__button {
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;

      button {
        width: 22.25rem;
      }
    }
  }
}
