.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__swiper {
    width: 100vw;
    margin: 0;

    .swiper-wrapper {
      width: 100%;
    }

    .swiper-slide {
      width: 100%;

      img {
        width: 100%;
        height: 370px;
        object-fit: cover;
      }
    }

    button.swiper-button-next,
    button.swiper-button-prev {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      gap: 0;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      &:after {
        content: '';
      }

      button.swiper-button-next {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__content {
    margin-bottom: 50px;
  }
}

.banner__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: $primary;
  transition: height 300ms ease-in-out;

  .content {
    @include paragraph-sm;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 50px;

    a {
      display: inline-block;
      color: $white;
      text-decoration: none;
      transition: all 300ms ease-in-out;

      &:focus,
      &:hover,
      &:active {
        font-weight: 700;
      }
    }

    .button--close {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;

      span.icon--cancel {
        color: $gray-100;
        transition: all 300ms ease-in-out;
      }

      &:focus,
      &:hover,
      &:active {
        span.icon--cancel {
          font-weight: 700;
        }
      }
    }
  }
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1050px;
  // gap: 40px;

  section {
    padding: 40px 0;
    h2 {
      @include heading-xl;
      color: $content;
      text-align: center;
      margin-bottom: 28px;
    }
  }
}

.product--eventProduct .swiper,
.product--recommendation .swiper {
  position: relative;

  button.swiper-button-prev {
    position: absolute;
    left: 0;
    transform: translateX(-30px);
  }
  button.swiper-button-next {
    position: absolute;
    right: 0;
    transform: translateX(30px);
  }

  button.swiper-button-next,
  button.swiper-button-prev {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    gap: 0;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      display: none;
    }
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  width: 440px;
  border-radius: 1rem;
  border: 0;

  &__image {
    padding: 0;
    flex-flow: row nowrap;

    a {
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus,
        &:active {
          filter: brightness(0.9);
        }
      }
    }
  }

  .button-group {
    overflow: hidden;

    button {
      border: 1px solid $gray-100;
      transition: all 300ms ease-in-out;

      &:hover,
      &:focus,
      &:active {
        font-weight: 700;
      }
    }
  }
}

.recent__item {
  position: relative;
  width: 74px;
  height: 223px;
  padding: 34px 1rem;

  h2 {
    @include label-sm;
    color: $black;
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }

  .recent-swiper {
    width: 40px;
    height: 129px;
  }

  .recent-swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    cursor: pointer;
    transition: transform 300ms ease-in-out;

    img {
      width: 40px;
      height: 52px;
      object-fit: cover;
    }

    &:focus,
    &:hover,
    &:active {
      transform: scale(1.05);
    }
  }

  .swiper-button-prev {
    position: absolute;
    bottom: 0.5rem;
    width: 18px;
    height: 18px;
    background-color: hotpink;
  }

  .swiper-button-next {
    position: absolute;
    top: 0.5rem;
    width: 18px;
    height: 18px;
    background-color: hotpink;
  }
}
