$product__list: (
  title: $content,
);

main{
  background-color: rgb(235, 255, 248);
  
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin: 0 auto;

  h1{
    background-color: rgb(255, 203, 185);
    @include label-lg;
    color: map-get($product__list, title);
    display: grid;
    justify-content: center;
    padding-bottom: 3rem;
  }

  section{
    height: 188rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 16.7rem 48.9rem;
    grid-template-rows: 1.5rem 174.12rem 4.38rem;

  }
  .sidebar{
    background-color: rgb(255, 255, 167);
    grid-row: 1/4;
    grid-column: 1/2;
    position: sticky;
  }
  .align{
    background-color: rgb(177, 250, 180);
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .card__list{
    background-color: rgb(201, 237, 253);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
  }
}




/* align */
.icon--question--mark {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .popup {
    display: none;
    position: absolute;
    // bottom: 100%;
    // left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: $white;
    color: $content;
    @include paragraph-sm; 
    border: 1px solid $gray-200;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000;
  }

  &:hover .popup {
    display: block;
  }
}