/* color */
$product__info: (
  delivery-lg: $gray-500,
  delivery-sm: $gray-400,
  title-lg: $content,
  title-sm: $content,
  desc-lg: $gray-400,
  desc-sm: $gray-400,
  price-lg: $content,
  price-sm: $content,
  discount-original-price-sm: $gray-400,
  discount-original-price-lg: $gray-400,
  discount-rate-sm: $accent,
  discount-rate-lg: $accent,
  discount-price-sm: $content,
  discount-price-lg: $content,
);
$card: (
  transparent: $transparent,
  text-white: $white,
  text-black: $content,
  text-gray: $gray-400,
  text-orange: $accent,
  cart-text-gray: $gray-500,
  cart-border-gray: $gray-200,
);
$count: (
  text-black: $content,
);
$align: (
  text-gray: $gray-300,
  text-black: $content,
);
$accordion: (
  head-text: $content,
  body-text: $content,
  more-text: $gray-300,
  count: $gray-300,
  line-bottom: $gray-100,
  arrow-icon: $gray-300,
);

/* reset - 지인님 커밋 풀 받고 삭제 필요 */
ul {
  margin: 0;
  padding-inline-start: 0;
}
button {
  background-color: inherit;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
}


/* product__info */
.product__info {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  &--sm {
    &-delivery {
      @include label-sm;
      color: map-get($product__info, delivery-sm);
      margin-bottom: 0.5rem;
    }
    &-title {
      @include paragraph-md;
      color: map-get($product__info, title-sm);
      margin-bottom: 0.25rem;
    }
    &-desc {
      @include paragraph-sm;
      color: map-get($product__info, desc-sm);
      margin-bottom: 0.5rem;
    }
    &-price {
      @include label-lg;
      color: map-get($product__info, price-sm);

      &.discount {
        @include paragraph-sm;
        color: map-get($product__info, discount-original-price-sm);
        text-decoration: line-through;
        order: 1;
      }
    }
    &-discount {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      &-rate {
        @include label-lg;
        color: map-get($product__info, discount-rate-sm);
      }
      &-price {
        @include label-lg;
        color: map-get($product__info, discount-price-sm);
      }
    }
  }

  &--lg {
    &-delivery {
      @include heading-lg;
      color: map-get($product__info, delivery-lg);
      margin-bottom: 1rem;
    }
    &-title {
      @include label-xl;
      color: map-get($product__info, title-lg);
      margin-bottom: 0.5rem;
    }
    &-desc {
      @include paragraph-md;
      color: map-get($product__info, desc-lg);
      margin-bottom: 1rem;
    }
    &-price {
      @include label-xl;
      color: map-get($product__info, price-lg);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      span {
        @include heading-md;
      }

      &.discount {
        @include paragraph-md;
        color: map-get($product__info, discount-original-price-lg);
        text-decoration: line-through;
        order: 1;
      }
    }
    &-discount {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      &-rate {
        @include label-xl;
        color: map-get($product__info, discount-rate-lg);
      }
      &-price {
        @include label-xl;
        color: map-get($product__info, discount-price-lg);
        display: flex;
        flex-flow: row;
        align-items: center;

        span {
          @include heading-md;
        }
      }
    }
  }
}

/* card */
.card {
  background-color: papayawhip;
  width: 15.56rem;
  height: 34.25rem;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  position: relative;

  &__link{
    width: 100%;
    height: 100%;
  }
  /* 상품 이미지 */
  &__img {
    height: 20rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }

  /* 상품 데이터 */
  &__data {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    position: absolute;
    top: 22.5rem;
    gap: 0.5rem;
  }
  
  /* badge */
  .badge-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
  }
}

/* 장바구니 담기 버튼 */
.button--cart {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 2rem;
  color: map-get($card, cart-text-gray);
  background: map-get($card, transparent);
  border: 0.0625rem solid map-get($card, cart-border-gray);
  border-radius: 0.25rem;
  position: absolute;
  top: 20.5rem;

  span {
    @include paragraph-sm;
  }
  span.icon {
    @include paragraph-lg;
    color: map-get($card, cart-text-gray);
  }
}

/* count */
.count {
  @include label-md;
  color: map-get($count, text-black);
}

/* align */
.align {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  flex-flow: row nowrap;

  &__item {
    justify-content: center;
    align-items: center;

    &::after {
      position: relative;
      top: 2px;
      display: inline-block;
      align-items: center;
      content: '';
      width: 1px;
      height: 0.8rem;
      background-color: map-get($align, text-gray);
      margin: 0 0.5rem;
    }
    &:last-child::after {
      display: none;
    }
    button {
      background-color: inherit;
      border: 0;
      outline: none;
      padding: 0;
      cursor: pointer;
    }
    &.is__selected button {
      color: map-get($align, text-black);
      font-weight: 700;
    }
  }
}


/* accordion */
.accordion {
  width: 13.75rem;
  border-bottom: 1px solid map-get($accordion, line-bottom);

  &__head {

    &--item {
      width: 100%;
      height: 3.25rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .icon{
        font-size: 1.125rem;
        font-weight: 600;
        color: map-get($accordion, arrow-icon);
        transition: transform 250ms ease-in-out;
      }
      &.active{
        .icon{
          transition: transform 250ms ease-in-out;
          transform: rotate(-180deg);
        }
  
      }
    }
    &--content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &-title {
        @include label-md;
        color: map-get($accordion, head-text);
      }
      &-count {
        color: map-get($accordion, count);
        font-size: 0.625rem;
        font-weight: 600;
        line-height: 160%;
        margin-left: 0.5rem;
      }
    }
  }

  &__body {
    display: block;
    height: auto;
    overflow: hidden;
    transition: all 250ms ease-in-out;

    &--item {
      height: 3.25rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      
      .checkbox__content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.25rem;
  
        &-title {
          @include paragraph-md;
          color: map-get($accordion, body-text);
        }
        &-count {
          @include paragraph-sm;
          color: map-get($accordion, count);
        }
      }
    }
    &--more{
      width: 100%;
      height: 1.87rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.75rem;

      &-title {
        @include label-sm;
        color: map-get($accordion, more-text);
      }
      .icon {
        font-size: 1.125rem;
        color: map-get($accordion, arrow-icon);
      }
    }
  }
}

