<!doctype html>
<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Template</title>
    <script type='module' src='/main.js'></script>
    <style>
      html,
      body {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
      }
      .template__wrapper {
        width: 100%;
        height: 100%;
        padding: 2rem 2rem 2rem 10.75rem;
      }
      .template {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        padding: 2rem 0;
        border-bottom: 1px solid rgb(147, 147, 147);
        &:first-child {
          padding-top: 0;
        }
        h3 {
          margin: 0 0 0.5rem;
          font-size: 1.5rem !important;
          font-weight: 600 !important;
        }
      }
      aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 8.75rem;
        height: 100%;
        padding: 1rem 0;
        background-color: #eee;
        ul {
          display: flex;
          flex-flow: column nowrap;
          li {
            a {
              display: block;
              padding: 0.5rem 1rem;
              color: #333;
              text-decoration: none;
              &:hover {
                background-color: #ddd;
              }
            }
          }
        }
      }
    </style>
  </head>
  <body>
    <aside>
      <ul>
        <li><a href="#button">Button</a></li>
        <li><a href="#input">Input</a></li>
        <li><a href="#checkbox">Checkbox</a></li>
        <li><a href="#radioButton">Radio</a></li>
        <li><a href="#badge">Badge</a></li>
        <li><a href="#listList">List Link / Button</a></li>
        <li><a href="#icon">Icon</a></li>
        <li><a href="#image">Image</a></li>
      </ul>
    </aside>
    <div class='template__wrapper'>
      <div id='button' class='template'>
        <h3>Button</h3>
        <p>button size (xs / sm / md / lg)</p>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--xs'>담기</button>
          <button type="button" class='button button--sm'>카카오톡 문의</button>
          <button type="button" class='button button--md'>후기 작성하기</button>
          <button type="button" class='button button--lg'>취소</button>
        </div>
        <p>button (with icon)</p>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--xs'><span class="icon icon--cart"></span>담기</button>
          <button type="button" class='button button--sm'><span class="icon icon--cart"></span>카카오톡 문의</button>
          <button type="button" class='button button--md'><span class="icon icon--cart"></span>후기 작성하기</button>
          <button type="button" class='button button--lg'><span class="icon icon--cart"></span>취소</button>
        </div>
        <p>button (outlined)</p>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--xs button--outlined'>담기</button>
          <button type="button" class='button button--sm button--outlined'>카카오톡 문의</button>
          <button type="button" class='button button--md button--outlined'>후기 작성하기</button>
          <button type="button" class='button button--lg button--outlined'>취소</button>
        </div>
        <p>button (filled)</p>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--xs button--filled'><span class="icon icon--cart"></span>담기</button>
          <button type="button" class='button button--sm button--filled'><span class="icon icon--cart"></span>카카오톡 문의</button>
          <button type="button" class='button button--md button--filled'><span class="icon icon--cart"></span>후기 작성하기</button>
          <button type="button" class='button button--lg button--filled'><span class="icon icon--cart"></span>취소</button>
        </div>
        <p>button (sharp)</p>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--xs button--sharp'><span class="icon icon--cart"></span>카카오톡 문의</button>
          <button type="button" class='button button--sm button--sharp'><span class="icon icon--cart"></span>카카오톡 문의</button>
          <button type="button" class='button button--md button--sharp'><span class="icon icon--cart"></span>카카오톡 문의</button>
          <button type="button" class='button button--lg button--sharp'><span class="icon icon--cart"></span>카카오톡 문의</button>
        </div>
        <p>button (full)</p>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--xs button--full'>100%</button>
          <button type="button" class='button button--sm button--full'>100%</button>
          <button type="button" class='button button--md button--full'>100%</button>
          <button type="button" class='button button--lg button--full'>100%</button>
        </div>
        <p>button (only icon)</p>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--ratio button--xs'><span class="icon icon--location"></span></button>
          <button type="button" class='button button--ratio button--sm'><span class="icon icon--favorite"></span></button>
          <button type="button" class='button button--ratio button--md'><span class="icon icon--cart"></span></button>
          <button type="button" class='button button--ratio button--lg'><span class="icon icon--bell"></span></button>
        </div>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--ratio button--xs button--outlined'><span class="icon icon--location"></span></button>
          <button type="button" class='button button--ratio button--sm button--outlined'><span class="icon icon--favorite"></span></button>
          <button type="button" class='button button--ratio button--md button--outlined'><span class="icon icon--cart"></span></button>
          <button type="button" class='button button--ratio button--lg button--outlined'><span class="icon icon--bell"></span></button>
        </div>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--ratio button--md button--rounded button--opacity'><span class="icon icon--arrow--left"></span></button>
          <button type="button" class='button button--ratio button--md button--rounded button--opacity'><span class="icon icon--arrow--right"></span></button>
        </div>
        <div style='display: flex; gap: 8px;'>
          <button type="button" class='button button--ratio button--xs button--rounded button--shadow'><span class="icon icon--location"></span></button>
          <button type="button" class='button button--ratio button--sm button--rounded button--shadow'><span class="icon icon--favorite"></span></button>
          <button type="button" class='button button--ratio button--md button--rounded button--shadow'><span class="icon icon--cart"></span></button>
          <button type="button" class='button button--ratio button--lg button--rounded button--shadow'><span class="icon icon--bell"></span></button>
        </div>
      </div>
      <div id='input' class='template'>
        <h3>Input</h3>
        <div style='display: flex; flex-flow: column nowrap; gap: 1rem;'>
          <!-- input text -->
          <div class="input__field">
            <label for="named" class='a11y'>input label</label>
            <div class="input__wrap">
              <input type="text" class='input is--invalid' name='named' id="" placeholder='Text Input' />
              <span class="hint">hint text</span>
            </div>
          </div>
          <!-- label이 보일 경우 -->
          <div class="input__field">
            <label for="named" class='input__label'>input label</label>
            <div class="input__wrap">
              <input type="text" class='input is--invalid' name='named' id="" placeholder='Text Input' />
              <span class="hint">hint text</span>
            </div>
          </div>
          <!-- search -->
          <form class='input__field search__field' role='search' aria-label='사이트 검색'>
            <label for='inputSearch' class='a11y'>검색</label>
            <input type='search' class='input input--search' id='inputSearch' placeholder='검색어를 입력하세요' aria-label='검색어를 입력하세요'>
            <button type='submit' class='button button--ratio button--lg' aria-label='검색'>
                <span class='icon icon--search primary--text'></span>
            </button>
          </form>
        </div>
      </div>
      
      <div id='checkbox' class='template'>
        <h3>Checkbox</h3>
        <div style='display: flex; flex-flow: row nowrap; gap: 1rem;'>
          <div class='checkbox__wrap'>
            <input type='checkbox' class='checkbox' id='checkbox01' name='checkbox-name01' />
            <label for='checkbox01' class='checkbox__label'>
              <span class='checkbox__label--icon'></span>Checkbox
            </label>
          </div>
          <div class='checkbox__wrap'>
            <input type='checkbox' class='checkbox' id='checkbox02' name='checkbox-name02' checked />
            <label for='checkbox02' class='checkbox__label'>
              <span class='checkbox__label--icon'></span>Checkbox
            </label>
          </div>
        </div>
      </div>
      <div id='radioButton' class='template'>
        <h3>Radio Button</h3>
        <div style='display: flex; flex-flow: row nowrap; gap: 1rem;'>
          <div class='radio__wrap'>
            <input type='radio' class='radio' id='radio01' name='name' value='value' checked />
            <label for='radio01' class='radio__label'>
              <span class='radio__label--icon'></span>Radio
            </label>
          </div>
          <div class='radio__wrap'>
            <input type='radio' class='radio' id='radio02' name='name' value='value' />
            <label for='radio02' class='radio__label'>
              <span class='radio__label--icon'></span>Radio
            </label>
          </div>
        </div>
      </div>
      <div id='badge' class='template'>
        <h3>Badge</h3>
        <div>
          <span class='badge badge--sm'>공지</span>
          <span class='badge badge--sm badge--secondary'>일반</span>
          <span class='badge badge--sm badge--outlined'>일반</span>
          <span class='badge badge--sm badge--accent'>적립</span>
        </div>
        <div>
          <span class='badge badge--md badge--accent'>적립</span>
        </div>
        <div>
          <span class='badge badge--lg badge--only'>Karly Only</span>
          <span class='badge badge--lg'>한정수량</span>
        </div>
      </div>
      <div id='listList' class="template">
        <h3>List Link</h3>
        <div style='display: flex; flex-flow: column nowrap; gap: 8px;'>
          <ul class='list__link'>
            <li><a href="/" class='primary--text'>회원가입</a></li>
            <li aria-hidden="true"><hr /></li>
            <li><a href="/">로그인</a></li>
            <li aria-hidden="true"><hr /></li>
            <li><a href="/">고객센터<span class='icon icon--triangle--bottom' aria-hidden='true'></span></a></li>
          </ul>
          <ul class='list__button'>
            <li><button type="button" class='is--active'>추천순<span class='icon icon--question--mark'></span></button></li>
            <li aria-hidden="true"><hr /></li>
            <li><button type="button" class=''>신상품순</button></li>
            <li aria-hidden="true"><hr /></li>
            <li><button type="button" class=''>판매량순</button></li>
            <li aria-hidden="true"><hr /></li>
            <li><button type="button" class=''>혜택순</button></li>
            <li aria-hidden="true"><hr /></li>
            <li><button type="button" class=''>낮은 가격순</button></li>
            <li aria-hidden="true"><hr /></li>
            <li><button type="button" class=''>높은 가격순</button></li>
          </ul>
        </div>
      </div>
      <div id='icon' class='template'>
        <h3>Icon</h3>
        <div style='display: flex; flex-flow: row wrap; align-items: center; gap: 1rem;'>
          <span class='icon icon--location'></span>
          <span class='icon icon--favorite'></span>
          <span class='icon icon--cart'></span>
          <span class='icon icon--bell'></span>
          <span class='icon icon--search'></span>
          <span class='icon icon--cancel'></span>
          <span class='icon icon--arrow--left'></span>
          <span class='icon icon--arrow--right'></span>
          <span class='icon icon--arrow--top'></span>
          <span class='icon icon--arrow--bottom'></span>
          <span class='icon icon--plus'></span>
          <span class='icon icon--minus'></span>
          <span class='icon icon--triangle--top'></span>
          <span class='icon icon--triangle--bottom'></span>
          <span class='icon icon--menu'></span>
          <span class='icon icon--refresh'></span>
          <span class='icon icon--question--mark'></span>
          <span class='icon icon--question'></span>
          <span class='icon icon--answer'></span>
          <span class='icon icon--lock'></span>
          <span class='icon icon--food--frozen'></span>
          <span class='icon icon--food--refrigerated'></span>
          <span class='icon icon--food--normal'></span>
          <span class='icon icon--time'></span>
          <span class='icon icon--notice'></span>
          <span class='icon icon--input--hint'></span>
        </div>
      </div>
      <div id='image' class='template'>
        <h3>Image</h3>
        <div>
          <img src='/src/assets/icons/icon-blog.png' alt='네이버 블로그 바로가기' />
          <img src='/src/assets/icons/icon-facebook.png' alt='페이스북 바로가기' />
          <img src='/src/assets/icons/icon-instagram.png' alt='인스타그램 바로가기' />
          <img src='/src/assets/icons/icon-youtube.png' alt='유튜브 바로가기' />
          <img src='/src/assets/icons/icon-naver-post.png' alt='네이버 포스트 바로가기' />
          <img src='/src/assets/icons/icon-go-to-top.png' alt='상단으로 이동하기' />
        </div>
      </div>
      
    </div>
  </body>
</html>
