body {
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
input {
  font-family: $font-family;
}
button {
  font-family: $font-family;
  cursor: pointer;
}

/* 전체 스크롤바 */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.75rem;
}
::-webkit-scrollbar-track {
  background: $gray-100;
}
::-webkit-scrollbar-thumb {
  background: $gray-200;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $gray-300;
}