body {
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
input {
  font-family: $font-family;
}
button {
  font-family: $font-family;
  cursor: pointer;
}